#### (1) 빈 컬럼 생성 후 list 데이터 추가

In [21]:
df = pd.DataFrame(columns=["Email", "Name"])   
df

Empty DataFrame
Columns: [Email, Name]
Index: []

In [22]:
df["Name"] = ["fcamp", "dss"]
df["Email"] = ["fcamp@gmail.com", "dss@gmail.com"]
df

             Email   Name
0  fcamp@gmail.com  fcamp
1    dss@gmail.com    dss

In [23]:
# 하나의 컬럼 = Series
df["Name"]

0    fcamp
1      dss
Name: Name, dtype: object

#### (2) Dict 데이터로 생성

In [24]:
name = ["fcamp", "dss"]
email = ["fcamp@gmail.com", "dss@gmail.com"]
dic = {"Name":name, "Email":email}
df = pd.DataFrame(dic)     # dic을 DataFrame에 넣어줌
df

    Name            Email
0  fcamp  fcamp@gmail.com
1    dss    dss@gmail.com

#### (3) index 추가하기
- index parameter에 index명 list를 넣어줌
- index를 날짜로도 쓸 수 있음
- index 값은 중복이 되지 않음 (unique 값만 올 수 있음)

In [25]:
index_list = ["first", "second"]
data = {"Email": ["fcamp@gmail.com", "dss@gmail.com"], "Name": ["fcamp", "dss"]}
df = pd.DataFrame(data, index=index_list)
df

                  Email   Name
first   fcamp@gmail.com  fcamp
second    dss@gmail.com    dss

In [26]:
# 데이터프레임에 대한 인덱스, 컬럼, 값 데이터(행렬로 가져옴) 가져오기
print("index: {}\n".format(df.index))
print("column: {}\n".format(df.columns))
print("values: \n{}".format(df.values))

index: Index(['first', 'second'], dtype='object')

column: Index(['Email', 'Name'], dtype='object')

values:
[['fcamp@gmail.com' 'fcamp']
 ['dss@gmail.com' 'dss']]