#### (1) Insert rows

##### dataframe의 row와 column에 접근하기
- row는 column과 달리 접근 method가 있음
    - row 접근: `.loc[]` (for location)
    - column 접근: `[column 이름]` - column명은 숫자도 가능 (Series의 index와 달리)

In [27]:
data = {"Email": ["fcamp@gmail.com", "dss@gmail.com"], "Name": ["fcamp", "dss"]}
df = pd.DataFrame(data)
df

             Email   Name
0  fcamp@gmail.com  fcamp
1    dss@gmail.com    dss

In [28]:
# row 접근
df.loc[1]    # series 형태로 나옴

Email    dss@gmail.com
Name               dss
Name: 1, dtype: object

In [29]:
# column 접근
df["Email"]

0    fcamp@gmail.com
1      dss@gmail.com
Name: Email, dtype: object

##### dataframe row에 데이터 넣기

In [30]:
# 특정 row 지정해서 데이터 넣기 (dict 형태로)
df.loc[2] = {"Email":"data@gmail.com", "Name":"data"}
df

             Email   Name
0  fcamp@gmail.com  fcamp
1    dss@gmail.com    dss
2   data@gmail.com   data

In [31]:
# 맨 마지막 행에 자동으로 데이터 넣기
df.loc[len(df)] = {"Email":"science@gmail.com", "Name":"science"}
df

               Email     Name
0    fcamp@gmail.com    fcamp
1      dss@gmail.com      dss
2     data@gmail.com     data
3  science@gmail.com  science

#### (2) Insert columns

In [32]:
# 컬럼 추가
df["Address"] = ""   
df

               Email     Name Address
0    fcamp@gmail.com    fcamp
1      dss@gmail.com      dss
2     data@gmail.com     data
3  science@gmail.com  science

In [34]:
# 컬럼 데이터 추가: row수를 맞춰서 추가 or 하나의 데이터를 넣어주면 broadcasting
df["Address"] = ["Seoul", "Busan", "Jeju", "Deagu"]
df

               Email     Name Address
0    fcamp@gmail.com    fcamp   Seoul
1      dss@gmail.com      dss   Busan
2     data@gmail.com     data    Jeju
3  science@gmail.com  science   Deagu

##### apply: 함수 사용해서 column 데이터 넣기

In [35]:
# name 데이터의 문자열 길이를 세서 name(count) 형태로 출력되는 새로운 column 생성
def name_count(name):
    return "{}({})".format(name, len(name))


name_count("hyeshin")

'hyeshin(7)'

In [36]:
# "Name_count"라는 column을 생성, "Name" column에 name_count 함수를 apply해서 데이터를 넣음
df["Name_count"] = df["Name"].apply(name_count)
df

               Email     Name Address  Name_count
0    fcamp@gmail.com    fcamp   Seoul    fcamp(5)
1      dss@gmail.com      dss   Busan      dss(3)
2     data@gmail.com     data    Jeju     data(4)
3  science@gmail.com  science   Deagu  science(7)

In [37]:
# lambda 사용해서 column 데이터 넣기
df["Address_Count"] = df["Address"].apply(lambda addr: "{}({})".format(addr, len(addr)))
df

               Email     Name Address  Name_count Address_Count
0    fcamp@gmail.com    fcamp   Seoul    fcamp(5)      Seoul(5)
1      dss@gmail.com      dss   Busan      dss(3)      Busan(5)
2     data@gmail.com     data    Jeju     data(4)       Jeju(4)
3  science@gmail.com  science   Deagu  science(7)      Deagu(5)