In [8]:
result_df = g_df.groupby("Name").size()
result_df

Name
Adam       1
Alan       1
Alex       3
Alvin      2
Andrew     5
Anthony    2
Arnold     3
Baldy      1
Peter      2
dtype: int64

In [9]:
# counts라는 컬럼 이름으로 index를 리셋
result_df = g_df.groupby("Name").size().reset_index(name='counts')
result_df

      Name  counts
0     Adam       1
1     Alan       1
2     Alex       3
3    Alvin       2
4   Andrew       5
5  Anthony       2
6   Arnold       3
7    Baldy       1
8    Peter       2

In [10]:
# sort_values를 이용하여 counts로 내림차순으로 정렬한다.
result_df = result_df.sort_values(by=['counts'], ascending=False)

# 인덱스를 다시 리셋한다.
result_df.reset_index(drop=True, inplace=True)
result_df

      Name  counts
0   Andrew       5
1     Alex       3
2   Arnold       3
3    Alvin       2
4  Anthony       2
5    Peter       2
6     Adam       1
7     Alan       1
8    Baldy       1