In [3]:
# 사람 이름과 나이가 들어간 데이터를 만들기
import random, string

def get_name():
    names = ['Adam', 'Alan', 'Alex', 'Alvin', 'Andrew', 'Anthony', 'Arnold', 'Jim', 'Baldy','Peter']
    return random.choice(names)


def get_age(start=20, end=40):
    return random.randint(start, end)    # random 모듈의 randint는 end가 포함됨


def make_data(rows=10):     # default로 데이터 10개를 설정함
    datas = []
    for _ in range(rows):   # '_"를 쓰는 이유는 이름 중복 피하려고(컨벤션) 
        data = {"Age":get_age(), "Name":get_name()}
        datas.append(data)
    return datas

In [4]:
# make DataFrame
g_df = pd.DataFrame(make_data(20))
g_df

    Age     Name
0    21    Alvin
1    39     Alan
2    27    Baldy
3    34  Anthony
4    33   Arnold
5    30     Alex
6    23   Andrew
7    38  Anthony
8    30   Andrew
9    26    Peter
10   34     Adam
11   33    Peter
12   35     Alex
13   23   Arnold
14   27   Andrew
15   30   Andrew
16   39    Alvin
17   27   Andrew
18   40   Arnold
19   32     Alex

In [11]:
# unique name list 1: set을 이용한 형변환으로 유니크 이름 추출
result1 = np.array(list(set(g_df["Name"].values)))
print(len(result1), result1)

9 ['Baldy' 'Peter' 'Adam' 'Alan' 'Anthony' 'Alex' 'Andrew' 'Alvin' 'Arnold']

In [12]:
# unique name list 2: unique 함수를 이용하여 유니크 이름을 뽑는다
result2 = list(g_df["Name"].unique())
print(len(result2), result2)

9 ['Alvin', 'Alan', 'Baldy', 'Anthony', 'Arnold', 'Alex', 'Andrew', 'Peter', 'Adam']