In [57]:
import openpyxl
import xlrd

#### (1) xlsx 파일로 내보내기

In [53]:
result.to_excel("foo.xlsx", sheet_name="1st_sheet")

#### (2) xlsx 파일 DataFrame으로 읽어오기

In [58]:
pd.read_excel("foo.xlsx","1st_sheet")

   Unnamed: 0  ID    Name  Age  Money
0           0   7     Jim   28  34000
1           1   6  Arnold   36  26000
2           2   2    Alan   34  16000
3           3   8   Alvin   24  14000
4           4   4  Andrew   36  12000
5           5   5   Peter   22  10000
6           6   1   Baldy   32   5000
7           7   3    Adam   27      0